
    <table class="yabba">
        <tbody>
        <div class="top"></div>
           <tr class="output" >
               <td colspan="4">
               <input class="output "type="text" name="output" value="" ></td>
            </tr>

        <tr class="firstrow">
            <td>
                <input class="clearentry" type="submit" name="clearsentry" value="CE">
            </td>
            <td>
                <input class="clearall" type="submit" name="clear" value="C">
            </td>
            <td>
                <input class="posneg" type="submit" value="+/-">
            </td>
            <td>
                <input type="submit" value="S%">
            </td>
        </tr>
                <tr class="secondrow">
            <td>
                <input class="seven" type="submit" name="f" value="7">
            </td>
            <td>
                <input class="eight" type="submit" value="8">
            </td>
            <td>
                <input class="nine" type="submit" value="9">
            </td>
            <td>
                <input class="divide operation"type="submit" value="/" name="divide">
            </td>
        </tr>
                <tr class="thirdrow">
            <td>
                <input class="four" type="submit" name="four" value="4">
            </td>
            <td>
                <input class="five "type="submit" value="5">
            </td>
            <td>
                <input class="six" type="submit" value="6">
            </td>
            <td>
                <input class="multiply operation" type="submit" value="x" name="multiply">
            </td>
        </tr>
                <tr class="fourthrow">
            <td>
                <input class="one" type="submit" name="f" value="1">
            </td>
            <td>
                <input class="two" type="submit" value="2">
            </td>
            <td>
                <input class="three" type="submit" value="3">
            </td>
            <td>
                <input class="subtract operation"type="submit" value="-" name="subtract">
            </td>
        </tr>
                <tr class="fifthrow">
            <td>
                <input class="zero" type="submit" name="zero" value="0">
            </td>
            <td>
                <input class="decimal"type="submit" value="." name="decimal">
            </td>
            <td>
                <input class="equal calculate" type="submit" value="=" name="equal">
            </td>
            <td>
                <input class="add operation" type="submit" value="+" name="add">
            </td>
        </tr>
            </tbody>
        <div></div>
    </table>


<script src="/js/calcscript.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97177748-1', 'auto');
  ga('send', 'pageview');

</script>
