<article>

    <header class="headduh">Welcome to My Site!</header>


    <p>My name is Eric and this is my place on the web -- my portfolio, my resume, and the place where I will ramble about nonsense that hopefully others care about. It is made using a very fun stack, powered by Node.js. You can find out more by checking out the git repo.
    </p>
    <br>

    <h2>Currently Working On...</h2>
    <br>


    <ul class="workingon">
      <li>Just finished a python twitter bot that spits out random number facts</li>
        <li>Just finished my computer science degree from Oregon State!</li>
		<li>Learning Ionic through the Ionic Academy</li>
    <li>Learning Drupal</li>
        <li>Adding content to this site!</li>
        <li>Touching Up Past Projects with CSS</li>



    </ul>

</article>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97177748-1', 'auto');
  ga('send', 'pageview');

</script>
