<article>

    <header class="headduh">Welcome to My Site!</header>


    <p>My name is Eric and this is my place on the web -- my portfolio, my resume, and the place where I will ramble about nonsense that hopefully others care about. It is made using a very fun stack, powered by Node.js. You can find out more by checking out the git repo.
    </p>
    <br>

    <h2>Currently Working On...</h2>
    <br>


    <ul class="workingon">
        <li>Looking for Jobs in the Portland Area</li> 
        <li>Working on completing my bachelor's degree! Only one course left and I finish in March of 2017! </li>
		<li>Learning Angular 2 and Ionic</li>
		<li>Working on a blog</li> 
        <li>Adding content to this site!</li>
        <li>Touching Up Past Projects with CSS</li>



    </ul>

</article>
