<header class="headduh">Projects!</header>

<div class="projects">

    These are some of the OSU projects I did while at my time at university. I just added the employee recognition application which was my capstone project.
    I am planning on adding more projects very soon!
    {{!--SPLIT UP PROJECTS PER DIV --}}

       <ul class="rig columns-2">
         <li>
                  <a href="http://web.engr.oregonstate.edu/~ferrere/496/20161202_172312.mp4">
           <img class="dom"  src="budget.jpg" />
                      </a>
           <p class="hmm"> <strong>Budget App</strong> <i>Ionic, Angular 2, MongoDb, Firebase, Node.JS</i></p>
         </li>
         <li>
                 <a href="https://github.com/eferrer28/FTP">
           <img src="ftp.jpg" />
                                       </a>
           <p> <strong>FTP Server</strong> <i>Python, C++</i></p>
         </li>

         <li>
                 <a href="http://rocky-ridge-55037.herokuapp.com/">
           <img src="emprec.jpg" />
                      </a>
           <p> <strong>Employee Recognition</strong> <i>Ruby, Rails, Bootstrap, Postgres</i></p>
           <p><strong>Login:</strong>   admin@admin.com/1234567890
         </li>
         <li>
                             <a href="http://web.engr.oregonstate.edu/~ferrere/340/final/main.php">

           <img src="stock4.jpg" />
                </a>
           <p class="stock"> <strong>Stock Portfolio Database</strong> <i>HTML, Bootstrap, Sql, PHP</i></p>
         </li>
    	<li>
              <a href="/dom">
    		<img class="dom"  src="/Dom_tree.png" />
                  </a>
    		<p class="hmm"> <strong>DOM Manipulation</strong> <i>HTML, CSS</i></p>
    	</li>
    	<li>
             <a href="/weather">
    		<img src="weather1.jpg" />
                                   </a>
    		<p> <strong>Weather API</strong> <i>HTML, CSS, Open Weather Map API, NodeJs</i></p>
    	</li>




    	<li>
            <a href="https://github.com/eferrer28/GuildProjects/blob/master/AddressBook/addressbook1.py">
    		<img src="organizer.jpg" />
                </a>
    		<p> <strong>AddressBook</strong> <i>Python</i></p>
    	</li>
    	<li>
            <a href="https://github.com/eferrer28/GuildProjects/tree/master/Dungeon">
    		<img class= dungeon src="dungeon.png" />
                </a>
    		<p class="dungtext"> <strong>Dungeon Crawler</strong> <i>Python</i></p>
    	</li>
               	<li>
                    <a href="/calculator">
    		<img class= calculator src="calc1.png" />
                    </a>
    		<p class="calctext"> <strong>JavaScript Calculator</strong> <i>HTML, CSS, Javascript</i></p>
    	</li>
               	<li>
                     <a href="/underconstruction">
    		<img class= bucket src="rsz_bucket.jpg" />
                    </a>
    		<p class="bucktext"> <strong>Bucket List</strong> <i>HTML, CSS, Python, Django</i></p>
    	</li>
    </ul>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97177748-1', 'auto');
  ga('send', 'pageview');

</script>
