These are some of the OSU projects I have done so far. Clicks on the images to go to the github repo. The plan will eventually be to build on these some more. Mainly just adding some more styling into them to practice my mad CSS skills. 


 <a href ="https://github.com/eferrer28/CS-290/blob/master/Week5/script.js"><img src="DOM_tree.png" alt="dom" style="width:304px;height:228px;"></a>



 <img src="cloud.svg" alt="cloud" style="width:304px;height:228px;">

This was our 5 that had testing our knowledge of manipulating the DOM. 


<script src="/js/script.js"></script>