#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    background-color: #74AFAD;
    padding-top: 25px;
}

.icons {
    
    margin-left: 25px;
    padding-left: 50px;
    
}

#page-content-wrapper {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 25px;
}
#page-content-wrapper p {
    font-size: 16px;
    font-family: "Proxima Nova Regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 20px;
}
.container {
    width: 80%;
}
.sidebar-nav {
    top: 0;
    width: 200px;
    list-style: none;
    margin: 0;
    padding-top: 25px;
}
.headshot {
    box-sizing: border-box;
    color: #888;
    font-family: "Droid Sans", sans-serif;
    font-size: 14px;
    text-align: center;
}
.headshot img {
    border-radius: 50px;
    border-color: white;
    border-style: solid;
}
.name {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-family: 'Nothing You Could Do', cursive;
}
li a {
    color: #FFF;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    padding-top 15px;
    padding-bottom: 15px;
    padding-right: 0;
    padding-left 0px;
    background-color: #6DABA9;
}
.headduh {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}
.project {
    display: inline-block;
    padding-right: 20px;
    padding-top: 50px;
}
.project:hover {
    opacity: 0.3;
}

/* Styling for the the Project Images */

#project1 {
    width: 420px;
    height: 200px;
    background: url("dom.png");
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    
        
}

#project2 {
    width: 420px;
    height: 200px;
    background: url("weather.png");
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    

        
}


#project3 {
    width: 420px;
    height: 200px;
    background: url("howto.jpg");
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    

        
}

#project4 {
    width: 420px;
    height: 200px;
    background: url("exercise.png");
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    

        
}

#project5 {
    width: 420px;
    height: 200px;
    background: url("calculator.jpg");
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    

        
}

.overlay {
    background: rgba(0, 0, 0, .75);
    

    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    width: 100%;
    height: 100%;
    font-family: Helvetica;
    font-weight: 900;
    color: rgba(255, 255, 255, .85);
    font-size: 20px;
}
.box:hover .overlay {
    opacity: 1;
}
.projcontent {
    font-family: Helvetica;
    font-weight: 900;
    color: rgba(255, 255, 255, .85);
    font-size: 20px;
}

/* ONLY A TEST */


/* line 67, ../sass/_layout.scss */
.mobile-nav {
  position: fixed;
  left: 5px;
  top: 5px;
}
/* line 72, ../sass/_layout.scss */
.mobile-nav.menu-active {
  left: 199px;
}
@media (min-width: 768px) {
  /* line 67, ../sass/_layout.scss */
  .mobile-nav {
    display: none;
  }

    
/* ONLY A TEST */
    
    
@media (max-width:767px) {
    #wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        left: 0;
    }
    #wrapper.active {
        position: relative;
        left: 250px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }
}
.highlight {
    color: #FFF;
}


p,
ol,
ul,
blockquote,
pre,
code,
.highlight,
table {
    line-height: 1.5em;
    margin-bottom: 1.5em;
}
.highlight,

pre code {
    display: block;
    min-width: 460px;
    max-width: 860px;
    margin: 0px auto;
    background: #0F161E none repeat scroll 0% 0%;
    border-radius: 6px;
    padding: 20px;
}
