

#sidebar-wrapper {
    margin-left: -225px;
    left: 225px;
    width: 225px;
    background: #000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    background-color: #74AFAD;
    padding-top: 25px; 
    display: none;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    display: block;
  }
}   
#sidebar-wrapper.menu-active {
  display: block;
}

.icons {
    
    margin-left: 25px;
    padding-left: 50px;
    
}

.icons a{
    opacity: 0.5;
    color: white;
}

.icons a:hover {
    opacity: 1.0;
}



.main-container {
  padding: 1.5em;
  padding-right: 1em;
  padding-top: 0px;
  margin-left: 1em;
}
.main-container.menu-active {
  margin-left: 225px;
  padding-left: 2.5em;
}
@media (min-width: 768px) {
  .main-container {
    margin-left: 225px;
    padding-top: 1.5em;
    padding-right: 5em;
    padding-left: 5em;
    padding-bottom: 1.5em;
  }
}

.main {
  max-width: 940px;
  font-size: 18px;
  margin: 0px auto;
}

.mobile-nav {
  position: fixed;
  left: 5px;
  top: 5px;
}
/* line 72, ../sass/_layout.scss */
.mobile-nav.menu-active {
  left:225px;
}
@media (min-width: 768px) {
  /* line 67, ../sass/_layout.scss */
  .mobile-nav {
    display: none;
  }
}

.sidebar-nav {
    top: 0;
    width: 225x;
    list-style: none;
    margin: 0;
    padding-top: 25px;
    padding-right: 1.5em;
    padding-left: 1.5em;
}
.headshot {
    box-sizing: border-box;
    color: #888;
    font-family: "Droid Sans", sans-serif;
    font-size: 14px;
    text-align: center;
}
.headshot img {
    border-radius: 50px;
    border-color: white;
    border-style: solid;
}
.name {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-family: 'Nothing You Could Do', cursive;
}
li a {
    color: #FFF;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0;
    padding-left: 0px;
    background-color: #6DABA9;
}
.headduh {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.workingon {
    
    padding-left: 1.5em; 
}

.project {
    display: inline-block;
    padding-right: 20px;
    padding-top: 50px;
}
.project:hover {
    opacity: 0.3;
}

/* Styling for the the Project Images */

#project1 {
    width: 420px;
    height: 200px;
    background: url("dom.png");
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;   
        
}

#project2 {
    width: 420px;
    height: 200px;
    background: url("weather.png");
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
         
}

#project3 {
    width: 420px;
    height: 200px;
    background: url("howto.jpg");
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
         
}

#project4 {
    width: 420px;
    height: 200px;
    background: url("exercise.png");
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
        
}

#project5 {
    width: 420px;
    height: 200px;
    background: url("address.jpg");
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
       
}

#project6 {
    width: 420px;
    height: 200px;
    background: url("dungeon.png");
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
       
}

#project7 {
    width: 420px;
    height: 200px;
    background: url("calculator.jpg");
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
       
}

#project8 {
    width: 420px;
    height: 200px;
    background: url("bucket.jpg");
    background-size: contain;
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
       
}
.overlay {
    background: rgba(0, 0, 0, .75);
    

    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    width: 100%;
    height: 100%;
    font-family: Helvetica;
    font-weight: 900;
    color: rgba(255, 255, 255, .85);
    font-size: 20px;
}
.box:hover .overlay {
    opacity: 1;
}
.projcontent {
    font-family: Helvetica;
    font-weight: 900;
    color: rgba(255, 255, 255, .85);
    font-size: 20px;
}

   
.highlight {
    color: #FFF;
}

/* Styling for Calculator Images */

.output {
    padding-left: 50px;
    margin-top: 15px;
    margin-left: 100px;
    padding-top: 25px;
    
}

top {
    
    padding-bottom: 10px;
    
}

.firstrow td{
    
    
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
      
}


.secondrow td{
    
    padding-top: 10px;
    padding-left: 20px;
}

.thirdrow td{
    
    padding-top: 10px;
    padding-left: 20px;
}

.fourthrow td{
    padding-top: 10px;
    padding-left: 20px;
    
}

.fifthrow td{
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 20px;
}

input:not([type=text]) {
    
    background-color: gainsboro;
    width: 60px;
}

.yabba {
    background-color: #0099FF;
      
}

 input {
    text-align:right;
}